---
title: 'Bouncing ball with no vectors'
index: 01.01
chapter: one
---
<div id="canvas-container"></div>

<p>
  I've added some randomness to the initial viables, so if you refresh the page
  it'll be a little different. :)
</p>

<script type="text/javascript" charset="utf-8">
{% include chapter-one/01.01.js %}
</script>

{% highlight javascript %}
{% include chapter-one/01.01.js %}
{% endhighlight %}

<style type="text/css" media="screen">
#canvas-container canvas {
  border: 1px solid #999;
}
</style>
