---
title: 'Gravity and mass'
index: 15
chapter: two
---

<p>
  The force exerted by gravity increases propotionally with mass. This offsets
  the increase in force required for objects with larger mass.
</p>

<p>
  So I've removed the hard limit on the minimum height in order to make the
  balls all bounce in a regular fashion. This means they will gradually loose
  vertical momentum (and sink into the floor given enough time...). How do I
  avoid this, while also keeping all the ball bouncing evenly?
</p>

<div id="canvas-container"></div>

<script type="text/javascript" charset="utf-8">
{% include js/15.js %}
</script>

{% highlight javascript %}
{% include js/15.js %}
{% endhighlight %}
